:root {
   --primary-text-color: #757575;
   --secondary-text-color: #212121;
   --accent-color: #2196f3;
   --primary-background-color: #f5f4fa;
   --secondary-backgroung-color: #e5e5e5;
   --footer-hero-background-color: #2f303a;
   --header-background-color: #ffffff;
   --card-set-gap: 30px;
 }
 
 body {
   font-family: "Roboto", "Helvetica Neue", "Verdana", sans-serif;
   color: var(--primary-text-color);
   background-color: var(--primary-background-color);
   letter-spacing: 0.03em;
 }
 
 h1,
 h2,
 h3,
 p {
   margin: 0;
 }
 .container {
   width: 1170px;
   margin: 0 auto;
 }
 img {
   display: block;
   margin: 0;
 }
 .team__img {
   display: block;
   margin: 0;
   margin-bottom: 30px;
 }
 .button {
   cursor: pointer;
 }
 .button:hover,
 .button:focus {
   background: var(--accent-color);
   color: white;
   border-color: var(--accent-color);
 }
 ul .button {
   display: inline-block;
   padding: 6px 22px;
   border-radius: 4px;
   border: 0px;
 }
 .hero .button {
   display: inline-block;
   background-color: var(--accent-color);
   color: #ffffff;
   padding: 10px 32px;
   border-radius: 4px;
   border-color: var(--accent-color);
   min-width: 200px;
 }
 footer {
   background: var(--footer-hero-background-color);
   padding: 60px 0;
 }
 
 .nav__link {
   color: var(--secondary-text-color);
   text-decoration: none;
   font-size: 14px;
   line-height: 1.17;
   font-weight: 500;
   padding-top: 5px;
   padding-bottom: 5px;
   display: block;
 }
 .nav__item:not(:last-child) {
   margin-right: 50px;
 }
 .nav__link:focus,
 .nav__link:hover {
   color: var(--accent-color);
 }
 .site__nav .current {
   color: var(--accent-color);
 }
 .contact__link:focus,
 .contact__link:hover {
   color: var(--accent-color);
 }
 .contact__link {
   color: #757575;
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
 }
 .contact__item:not(:last-child) {
   margin-right: 50px;
 }
 .address__link {
   display: inline-block;
   color: white;
   text-decoration: none;
 }
 .footer__link {
   display: inline-block;
 
   color: #757575;
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.71;
 }
 .footer__item:not(:last-child) {
   margin-bottom: 9px;
 }
 ul {
   list-style: none;
   margin-top: 0;
   margin-bottom: 0;
   padding: 0;
 }
 .hero {
   background-color: var(--footer-hero-background-color);
   padding: 200px 452px;
   text-align: center;
 }
 .team {
   background-color: var(--secondary-backgroung-color);
   padding-top: 94px;
   padding-bottom: 94px;
   text-align: center;
 }
 h1 {
   color: white;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   margin-bottom: 30px;
 }
 h2 {
   color: var(--secondary-text-color);
 }
 
 .work__title {
   font-size: 36px;
   line-height: 1.7;
   margin-bottom: 50px;
 }
 .team__title {
   font-size: 36px;
   line-height: 1.7;
   margin-bottom: 50px;
 }
 
 .features__title {
   font-size: 36px;
   line-height: 1.7;
   margin-bottom: 50px;
   text-align: center;
 }
 .features__item {
   width: 270px;
 }
 .portfolio-h2 {
   font-size: 18px;
   line-height: 2;
 }
 .portfolio-text {
   font-size: 16px;
   line-height: 1.9;
 }
 .portfolio {
   padding-top: 94px;
   padding-bottom: 94px;
 }
 h3 {
   font-weight: 500;
   color: var(--secondary-text-color);
   font-size: 16px;
   line-height: 1.2;
   margin-bottom: 10px;
 }
 .feature__subtitle {
   text-transform: uppercase;
 }
 .features-text {
   font-size: 14px;
   line-height: 1.71;
 }
 .team-text {
   display: inline-block;
 
   color: var(--primary-text-color);
   font-size: 16px;
   line-height: 1.2;
 }
 .nav__logo {
   display: inline-block;
   font-family: Raleway;
   color: var(--accent-color);
   text-decoration: none;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   margin-right: 93px;
   justify-content: center;
 }
 .footer__logo {
   display: inline-block;
   font-family: Raleway;
   color: var(--accent-color);
   text-decoration: none;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.19;
   margin-bottom: 20px;
 }
 .header {
   background-color: var(--header-background-color);
   padding-top: 24px;
 }
 address {
   font-style: normal;
 }
 .top-span {
   color: var(--secondary-text-color);
 }
 .bottom-span {
   color: #ffffff;
 }
 .work {
   padding-bottom: 94px;
   text-align: center;
 }
 .features-section {
   padding-top: 119px;
   padding-bottom: 94px;
 }
 .btn-list {
   display: flex;
   margin-bottom: 56px;
   justify-content: center;
 }
 .btn__item:not(:last-child) {
   margin-right: 8px;
 }
 .portfolio__img {
   margin-bottom: 20px;
 }
 .portfolio__title {
   margin-bottom: 4px;
 }
 .work__item:not(:last-child) {
   margin-right: 30px;
 }
 .site__nav {
   display: flex;
 }
 .nav__list {
   display: flex;
   align-items: center;
 }
 .contact-list {
   display: flex;
 }
 .header__container {
   display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .features__list {
   display: flex;
   justify-content: space-between;
 }
 .work__list {
   display: flex;
 }
 .team__list {
   display: flex;
 
   margin-top: calc(-1 * var(--card-set-gap));
   margin-left: calc(-1 * var(--card-set-gap));
 }
 .team__item {
   flex-basis: calc(100% / 4 - var(--card-set-gap));
   margin-top: var(--card-set-gap);
   margin-left: var(--card-set-gap);
   padding-bottom: 30px;
 }
 .portfolio__list {
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--card-set-gap));
   margin-left: calc(-1 * var(--card-set-gap));
 }
 .portfolio__item {
   margin-top: var(--card-set-gap);
   margin-left: var(--card-set-gap);
   flex-basis: calc(100% / 3 - var(--card-set-gap));
 }
 .studio-h2{
   font-size: 36px;
   line-height: 1.7;
   margin-bottom: 50px;
   text-align: center;
 }
 .footer__list li:not(:last-child){
margin-bottom: 9px;
 }